:root {
    --font: "Segoe UI", Tahoma, Geneva, Verdana, serif;
    --calculator-gradient: linear-gradient(135deg, #BBD2C5, #536976, #292E49);
    --button-gradient-color: #0f0f88;

    --body-color: rgb(16, 16, 16);
    --calculator-background-gradient: linear-gradient(135deg, #2c2c2c, #141414);
    --button-color: white;
    --button-background-color: black;
    --button-hover-bg-color: rgb(48, 48, 48);
    --button-active-bg-color: rgb(80, 80, 80);
    --button-border-color: black;
    --button-disabled-color: #737373;
    --button-disabled-bg-color: #1e2129;
}

:root.light-mode {
    --body-color: rgb(235, 238, 238);
    --calculator-background-gradient: linear-gradient(135deg, #f1f1f3, #d9d9db);
    --button-color: black;
    --button-background-color: rgb(239, 239, 241);
    --button-hover-bg-color: rgb(244, 244, 246);
    --button-active-bg-color: rgb(253, 253, 255);
    --button-border-color: white;
    --button-disabled-color: #1e2129;
    --button-disabled-bg-color: #9f9f9f;
}

/*background*/
body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    overflow: hidden;

    background-color: var(--body-color);
}

/*calculator border div (gradient)*/
.calculator-border {
    padding: 5px;
    border-radius: 18px;
    background-image: var(--calculator-gradient);
    position: relative;
}

.calculator-border.show-calculator-glow::before {
    content: "";
    position: absolute;

    inset: -8px;
    border-radius: 22px;
    z-index: -1;

    background-image: var(--calculator-gradient);
    filter: blur(15px);
    opacity: 0.75;
}

/*calculator gradients*/
.calculator-border.glacier-water {
    --calculator-gradient: linear-gradient(135deg, #bbd2c5, #536976, #292e49);
}

.calculator-border.cotton-candy {
    --calculator-gradient: linear-gradient(135deg, #acb6e5, #86fde8);
}

.calculator-border.green-tea {
    --calculator-gradient: linear-gradient(135deg, #aabfbf, #798844);
}

.calculator-border.sago-taro {
    --calculator-gradient: linear-gradient(135deg, #ffc0cb, #654ea3);
}

/*calculator div*/
.calculator {
    background-image: var(--calculator-background-gradient);

    width: 280px;
    border-radius: 15px;
    padding: 20px;

    z-index: 0;
    position: relative;
}

.calculator.hide-calc {
    background: transparent;
}

/*displays*/
.displays {
    display: grid;
    margin-bottom: 24px;
}

.displays textarea {
    resize: none;
    cursor: default;
    font-family: var(--font);
}

.displays #output {
    text-align: end;
}

/*buttons*/
button {
    height: 28px;
    border-radius:5px;

    color: var(--button-color);
    background: var(--button-background-color);
    border-color: var(--button-border-color);

    cursor: pointer;
    position: relative;

    font-family: var(--font);
    font-size: 14px;

    transition: background-color 0.4s, color 0.2s;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

button:active {
    background-color: var(--button-active-bg-color);
}

button:disabled {
    color: var(--button-disabled-color);
    background-color: var(--button-disabled-bg-color);
}

/*button gradient animation*/
button::before, button::after {
    content: "";
    position: absolute;

    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    border-radius:5px;
    padding: 3px;
    background-image: conic-gradient(from var(--angle),
                                          var(--button-border-color),
                                          var(--button-gradient-color),
                                          var(--button-border-color));
    animation: 3s spin linear infinite;
}

button::before {
    filter: blur(3px);
    opacity: 0.75;
}

button.hide-button-glow::before {
    filter: none;
    opacity: 1;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/*button gradients*/
button.red {
    --button-gradient-color: #702335;
}

button.yellow {
    --button-gradient-color: #8c821e;
}

button.green {
    --button-gradient-color: #226316;
}

button.blue {
    --button-gradient-color: #0f0f88;
}

button.purple {
    --button-gradient-color: #590a59;
}

button.black {
    --button-gradient-color: black;
}

button.white {
    --button-gradient-color: white;
}

/*button grouping*/
.button-group-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 24px;
}

.button-group-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 24px;
}

.button-group-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 12px;
}

.rowspan-2 {
    grid-column: span 2;
}

/*TODO: fix button gradient animation desync*/
button.whenShiftOn {
    display: none;
}

.shift-enabled #shift {
    background-color: var(--button-active-bg-color);
}

.shift-enabled .whenShiftOff {
    display: none;
}

.shift-enabled .whenShiftOn {
    display: inline-block;
}