body {
    background-color: rgb(24, 24, 24);
    display: flex;

    min-height: 200px;

    align-items: center;
    justify-content: center;
}

h1 {
    color: transparent;
    font-family: Optima, sans-serif;
    -webkit-text-stroke: 1px #fff;
}

textarea {
    resize: none;
    font-family: Optima, sans-serif, mono;
}

#output {
    text-align: end;
}

/*buttons (gradient animation, hover color change)*/
button {
    height: 28px;
    color: white;
    background: black;
    border-radius:5px;
    cursor: pointer;
    position: relative;
    font-family: Optima, sans-serif;
    font-size: 14px;
    transition: background-color 0.4s, color 0.2s;
}

button:hover {
    background-color: rgb(48, 48, 48);
}

button:active {
    color: white;
    background-color: rgb(80, 80, 80);
}

button::after, button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius:5px;
    padding: 3px; /*controls thickness*/
    background-image: conic-gradient(from var(--angle), blue, purple, hotpink, lightblue, blue);
    animation: 3s spin linear infinite;
}

button::before {
    filter: blur(3px);
    opacity: 0.5;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/*divs*/
.calculator {
    background: rgb(43, 43, 43);
    width: 280px;
    border-radius: 15px;
    padding: 20px;
    z-index: 0;
}

.displays {
    display: grid;
    margin-bottom: 24px;
}

.buttons1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 24px;
}

.buttons2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 24px;
}

.buttons3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.rowspan2 {
    grid-column: span 2;
}